<?xml version="1.0" encoding="UTF-8"?>
<configuration status="info">
    <Properties>
        <Property name="pattern1"> [%-5p] %d %c - %m%n </Property>
        <Property name="pattern2">
            =========================================%n Log level:%p%n Log time:%d%n Class name:%c%n Thread:%t%n Log information:%m%n
        </Property>
        <Property name="filePath">C:\Users\Stas\IdeaProjects\XMLandXSD\src\main\resources\logs.log</Property>
    </Properties>

    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern1}"/>
        </Console>
        <RollingFile name="RollingFile" fileName="${filePath}"
                     filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout pattern="${pattern2}"/>
            <SizeBasedTriggeringPolicy size="5 MB"/>
        </RollingFile>
    </appenders>
    <loggers>
        <root level="info">
            <appender-ref ref="RollingFile"/>
        </root>
    </loggers>
</configuration>